body{
    background-attachment: fixed;
    background-image: url("BackGround.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
  
.key{
    border: 3px solid  black;
    color:white;
    border-radius:5px;
    padding:1rem .5rem;
    width:100px;
    text-align: center;
    margin:1rem;
    transition: all .09s;
    background:rgba(0, 60, 0, 0.4);
    text-shadow:0 0 5px black;

}
.sound{
    color:green;
}
.keys{
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
kbd{
    display:block;
    font-size:2rem;
}
.playing{
    transform:scale(1.2);
    border-color:orange;
    box-shadow: 0 0 1 rem orange;
    
}